.Banner{
    background-color: #6278f7;
    width: 100%;
    padding: 20px;
    text-align: center;
    background-image: url(https://jordlolk.github.io/League-of-Junior/public/assets/assets_img/espace_img.png);
}
.Banner img {
    max-width: 100%;
    height: 20rem;
    
}
.Banner h1{
    font-size: 2.5rem;
    text-shadow: 5px 4px 2px rgb(0, 0, 0);
}

.SelectChamp{
    margin: 24px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SelectChamp label{
    display: block;
    color: #e29314;
    font-weight: 900;
    text-shadow: 2px 1px 0px rgb(0, 0, 0);
    margin-bottom: 14px;
    font-size: 38px;
}
.champSelected span{
    color: white;
    font-size: 2.2rem;
}
.SelectChamp input{
    background-color: #000000;
    width: 50%;
    outline: none;
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    border: solid #fde300;
    padding: 22px;
    box-sizing: border-box;
}
.SelectChamp input:focus{
    border: #fde300 4px solid;
    box-shadow: 2px -2px 8px #14e2de;
}
.Formulario{
    background-color: #000000;
}
.Formulario form {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}